body {
    background-color: #252222;
    color: #e8e7e7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10vh;
}

#container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "profile"
        "projects"
        "portfolio"
        "footer";
}

nav {
    margin-left: 0px;
    margin: 0 4vw;
}

#navBar, #navBarClosed {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 90vw;
    justify-content: space-evenly;
    z-index: 50;
}

#navBarClosed {
    width: 10vw;
    justify-content: space-evenly;
}

#navBar li, #navBarClosed li {
    text-align: center;
    margin-left: 0px;
}

#navBar li a, #navBarClosed li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3vh 16px;
    text-decoration: none;
}

#navBar li a:hover, #navBarClosed li a:hover {
    background-color: #3e4566;
}

header {grid-area: "header";}
#bioParagraph {grid-area: "profile";}
#projectGroup {grid-area: "projects";}
#resume {grid-area: "header";}
footer {grid-area: "header";}

h2, h3 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifW;
    clear: both;
    text-align: center;
}

h2 {
    font-size: calc(2vw + 2vh);
}

h3 {
    font-size: 2em;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #3e4566;
    border-radius: 2em;
    margin: 1em 5em;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifW;
    text-align: center;
    font-size: 5em;
    margin: 0;
    margin-top: .5em;
}

header p {
    text-align: center;
    font-size: calc(1.75vw + 1.75vh);
}

#bioParagraph {
    display: flex;
    margin: auto;
    max-width: 1500px;
}

#bioParagraph p {
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(1.75vw + 1.75vh);
    max-width: 1600px;
}

#bioParagraph img {
    width: 60%;
    margin-left: 1em;
    margin: 0 auto;
}

#projectGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-size: 40px;
}

#projectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.projectImg {
    width: 400px;
    height: 400px;
    text-align: center;
    background-image: url(../media/400placeholder.png);
    border-radius: 1rem;
    /*potentially add relevant image to back?*/
}

.projectImg a {
    position:relative;
    background-color: #3e4566;
    border-radius: 1rem;
    padding: 10px;
    top: 45%;
}

.projectCaption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70%;
    width: 400px;
    text-align: center;
}

#resumeSmallScreen {
    display: none;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume iframe {
    width: 50vw;
    height: 80vh;
    margin-bottom: 5px;
}

footer { 
    clear: both;
    background-color: #3e4566;
    border-radius: 2em;
    margin: 1em 5em;
}

.contactLink {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    list-style-type: none;
    margin: 0 15px 0 0; 
}

/* link coloring */
a:link {
    color: #af93a7;
}

a:visited {
    color: #8c7485;
}               

a:hover {
    color: #ed95d4;
}

a:active {
    color: #e838b6;
}

/* for all screens smaller than 800px in width */

@media all and (max-width: 1000px) {

    #navBar, #navBarClosed {
        flex-direction: column;
        width: 20vw;
        max-width: fit-content;
        position: fixed;
        bottom: 0;
        align-items: center;
        z-index: 50;
    }

    #projectGroup {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #resume {
        display: none;
    }

    #resumeSmallScreen {
        display: flex;
        font-size: calc(1.5vw + 1.5vh);
        flex-direction: column;
        align-items: center;
    }
}

/* special resizing rule for projects */
@media all and (max-width: 450px) {
    .projectImg {
        width: 250px;
        height: 250px;
        flex: 0 1 auto;
        align-self: center;
    }

    .projectCaption {
        font-size: calc(1.5vw + 1.5vh);
    }


}